{% extends 'layout.html'%}

{% block body %}
</br></br></br></br></br>
<div class="container marketing">
        <div class="row">
            {% for c in categories %}
       
          <div class="col-lg-4">
            <img class="rounded" src="{{ url_for('static',filename = 'category_pics/' + c.image_file) }}"  width="240" height="240">
            <h2>{{c.name}}</h2>
            <p>{{c.description}}</p>
            <p><a class="btn btn-secondary" href="/products/{{c.category_id}}" role="button">View products</a></p>
          </div>

          {% endfor %}
        </div>
{% endblock %}

